ol.comment-list {
    margin: 0;
    padding: 12px 0 25px;
    width: 100%;
    border-top: 1px solid #e0e0e0;
    list-style: none;

    li {
        padding: 0 0 17px;
        font-size: inherit;
        margin-bottom: 12px;
        border-bottom: 1px solid #eaeaea;

        .comment-body {
            position: relative;
            padding-left: 80px;
            padding-right: 0;

            img.avatar {
                width: 55px;
                top: 15px;
                float: left;
                position: absolute;
                left: 0;
                padding: 3px;
                height: auto;
                background: #ebe9eb;
                margin: 0;
                box-shadow: none;
                border-radius: 50%;
            }

            .comment-text {
                margin: 0;
                padding: 0;
                border: 0;
            }


            .comment-meta {
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                margin: 5px 0;
                line-height: 22px;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                align-items: center;

                .comment-metadata {
                    a {
                        color: #777;
                        margin-right: 0;
                        text-decoration: none;
                        margin-left: 11px;
                    }

                    .comment-edit-link {
                        color: #E03C31;
                    }
                }

                .fn {
                    a {
                        color: #2C2C2C;
                        text-decoration: none;
                    }
                }
            }

            .says {
                display: none;
            }

            .comment-content {
                line-height: 22px;
                margin: 0;
                color: #777;

                p {
                    &:last-child {
                        margin: 10px 0 10px;
                    }
                }

                a {
                    color: #E03C31;
                    text-decoration: none;
                }
            }

            .comment-reply-link {
                color: #777;
                text-decoration: none;
            }
        }
    }
}