.single-recommended .single-recommended-heading h3 {
    font-weight: 700;
}

.guidelines .cta-agree {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.guidelines .cta-agree button {
    padding: 8px 23.5px 11px;
    background: #E03C31;
    color: #fff;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.guidelines {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.guidelines .container {
    background: #fff;
    width: 40.5%;
    padding: 1px 38px 23px 48px;
    border-radius: 10px;
    position: relative;
}

.guidelines.js-active {
    display: flex;
}

.cta-agree button:hover {
    background: #cb3228;
}

.guidelines .cta-close {
    border: none;
    background: none;
    width: 16px;
    height: 16px;
    padding: 0;
    position: absolute;
    top: 31px;
    right: 23px;
    cursor: pointer;
}

.guidelines .content {
    padding-right: 40px;
}

.guidelines h2 {
    margin-bottom: 30px;
}

.guidelines .content p:nth-of-type(1) {
    margin-bottom: 6px;
}


@media only screen and (max-width: 767px) {
	.pg-hero-sec .row .mb-img{padding:0;}
    section.home-firstsec .right_sec{padding-top: 60px;}
	.home-firstsec .text_sec{padding:30px;}
	.home-firstsec .text_sec h2, .home-firstsec .text_sec p{padding-right:0;}
    .single-recommended .post-grid-items article.post-item .post-item-info a {
        text-transform: capitalize;
    }
}

.single-recommended .post-grid-items article.post-item .post-item-info a {
    font-weight: 500;
    margin-top: -5px;
}

.single-recommended .post-grid-items article.post-item .post-item-info h3 a {
    text-transform: unset;
}

#masthead .button-link {
    display: inline-flex;
    align-items: center;
    margin-left: 0;
    padding: 0 12px;
    height: 35px;
    color: #323232;
    border: 2px solid #2F2E2E;
    border-radius: 7px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    margin-right: 0;
    font-size: 14px;
    font-weight: 500;
}

.site-branding {
    width: 210px;
}

#masthead .site-branding img {
    height: auto;
}

.menu-close {
    display: none;
}

.entry-content .single-description {
    display: none;
}

body.page-template-news #main-slider .main-slide-item img.thumb-mb {
    display: none;
}

body.page-template-news .sticky-category-items .sticky-category-readmore.only-mb {
    font-family: 'Roboto', sans-serif;
    color: #E03C31;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    display: none;
}

footer .footer-menus .container {
    display: flex;
}

footer .footer-menus aside:nth-of-type(1) {
    width: 57%;
}

footer .footer-menus aside:nth-of-type(2) {
    width: 43%;
}

#custom_html-2 {
    width: 57%;
}

#nav_menu-3 {
    width: 43%;
    padding: 0;
}

@media screen and (max-width: 1366px) {
    #masthead .button-link {
        margin-right: 0;
    }

    #primary .red-hero {
        height: 445px;
        background-size: 700px;
    }
}

@media screen and (max-width: 1280px) {
    .container {
        max-width: 86%;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 90%;
    }
    body.page-template-news #main-slider .owl-nav i{font-size:40px;}
    body.page-template-news #main-slider .owl-nav .owl-next{right:-15px;}
    body.page-template-news #main-slider .owl-nav .owl-prev{left:-15px;}
}
@media screen and (max-width: 1150px) {
  body.page-template-news #main-slider .owl-nav i{font-size:30px;}
  body.page-template-news #main-slider .owl-nav .owl-next{right:-20px;}
  body.page-template-news #main-slider .owl-nav .owl-prev{left:-20px;}
}
@media screen and (max-width: 1099px) and (min-width: 992px) {
  body.page-template-news #main-slider .main-slide-item .main-slide-box .main-slide-content{width:670px;padding-left:45px;margin:0;}
}
@media screen and (max-width: 1024px) {
    footer .footer-menus aside:nth-of-type(1) {
        width: 70%;
    }

    footer .footer-menus aside:nth-of-type(2) {
        width: 30%;
    }

    #custom_html-2 {
        width: 62%;
    }

    #nav_menu-3 {
        width: 38%;
    }

    footer .site-info .container {
        flex-wrap: wrap;
    }

    .menu-footer-menu-container {
        width: 100%;
        text-align: center;
    }

    footer .site-info .site-footer-copyright {
        width: 100%;
        text-align: center;
    }

    footer .site-info {
        padding: 15px 0;
    }

    footer .footer-menus .container aside .widget_nav_menu {
        padding: 0;
    }

    .guidelines .container {
        width: 50%;
    }

    .guidelines .container {
        width: 90%;
        padding: 1px 25px 23px;
    }
    #masthead #site-navigation>div>#primary-menu li{padding:7px 11px;}
}
@media screen and (max-width: 991px) and (min-width: 768px) {
    body.page-template-news #main-slider .main-slide-item .main-slide-box .main-slide-content{width:500px;padding-left:45px;margin:0;}
  }
@media screen and (max-width: 991px) {
    .menu-item-has-children::before {
        content: '';
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        background-image: url(https://www.agentofferings.propertyguru.com.sg/wp-content/themes/propertyguru/assets/img/ic-close.png);
        background-repeat: no-repeat;
        position: absolute;
        right: -10px;
        background-position: center;
        top: 5px;
        transform: rotate(45deg);
        background-size: 13px;
		padding:25px;
        z-index: 9;
    }
    footer .footer-menus .container aside ul li span {
        display: block;
    }

    .menu-toggle {
        display: block;
        margin-right: 25px;
        background: none;
        border: none;
        padding: 0;
    }

    #masthead #site-navigation .button-link {
        order: 1;
        font-size: 14px;
        padding: 2px 12px;
    }

    #masthead #site-navigation {
        display: block;
        transform: translateX(-100%);
        transition: .5s;
        background: #404040;
        width: 60%;
        margin-right: 0;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
    }

    .site-header .wrap-cta {
        display: flex;
        align-items: center;
    }

    #masthead .container {
        justify-content: space-between;
    }

    .site-branding {
        margin-left: 15px;
        width: 128px;
    }

    #masthead #site-navigation>div>#primary-menu li a {
        color: #fff;
        padding: 16px 0;
        position: relative;
    }

    .main-navigation ul {
        padding: 60px 20px 20px;
    }

    #masthead .button-link {
        margin-right: 13px;
    }

    .menu-close {
        border: none;
        background: none;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 30px;
        height: 30px;
        padding: 0;
        display: block;
    }

    #masthead .main-navigation ul#primary-menu {
        display: none;
        flex-direction: column;
    }

    #masthead .main-navigation ul#primary-menu .sub-menu {
        padding-top: 0px;
        padding-left: 5px;
        padding-bottom: 0;
        background: unset;
    }

    #masthead #site-navigation>div>#primary-menu .sub-menu li a {
        color: #fff;
        padding: 6px 0;
    }

    .main-navigation ul ul.sub-menu {
        position: unset;
    }

    body footer .footer-menus aside:nth-of-type(1) {
        width: 100%;
    }

    body footer .footer-menus #custom_html-2 {
        width: 100%;
    }

    body footer .footer-menus #nav_menu-3 {
        width: 100%;

    }

    body footer .footer-menus aside:nth-of-type(2) {
        width: 100%;
    }

    body footer .site-info ul {
        flex-direction: column;
    }

    body footer .site-info .site-footer-copyright {
        width: 75%;
        margin: 0 auto;
    }

    body header .site-branding img {
        width: 140px;
    }

    body header .site-branding {
        max-width: 140px;
    }

    body #masthead #site-navigation {
        width: 60%;
    }

    body #masthead #site-navigation.active {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }

    body #masthead .main-navigation.active ul#primary-menu {
        display: flex;
    }

    span.menu-toggle_container {
        width: 20px;
        display: flex;
        flex-direction: column;
        gap: 5px;

    }

    span.menu-toggle_container span {
        width: 100%;
        height: 3px;
        background: #2c2c2c;
    }

    button.menu-toggle.active .x3 {
        display: none;
    }

    button.menu-toggle.active span.x1 {
        transform: rotate(45deg);
    }

    button.menu-toggle.active span.x2 {
        transform: rotate(135deg);
    }

.pg-h1,.pg-hero-sec h1,.pg-hero-sec h1 span,.pg-h1 > a{
    font-size: 35px;
    line-height: 48px;
}
.pg-hero-sec h1 strong,.pg-hero-sec h1 b,.pg-hero-sec h1 strong span,.pg-hero-sec h1 b span{
    font-size: 35px;
    line-height: 48px;
}
.pg-h2,.pg-hero-sec h2,.pg-hero-sec h2 span,.pg-hero-sec h2 a,.pg-hero-sec h2 strong,.pg-hero-sec h2 strong span,.pg-hero-sec h2 b span{
	font-size: 27px !important;
    line-height: 45px;
}
.pg-h3,.accordion h2.accordion-header .accordion-button,a.pg-h3,h3.pg-h3 a,h3.pg-h3 strong{
    font-size: 18px;
    line-height: 28px;
}
.pg-paragraph,.pg-paragraph span,ol.breadcrumbs li,.home a.sticky-category-readmore,.ad-credits .sticky-category-readmore,.pg-paragraph a, ul li a{
    font-size: 14px;
    line-height: 22px;
}

.pg-intro{padding-top:40px;padding-bottom:80px;}
.pg-section{padding-top:80px;padding-bottom:80px;}


}
@media screen and (max-width: 768px) {
    .home-firstsec.pg-section .pg-h2 br {
        display: none;
    }
}

@media screen and (max-width: 767px) {
  .post-grid-top img{max-width:354px;margin:20px 0 0;}
  .post-grid-items article.post-item img{max-width:354px;}
    body.page-template-news #main-slider .main-slide-item .main-slide-box .main-slide-content {
        padding: 33px 56px 47px;

    }

    body.page-template-news #main-slider .main-slide-item .main-slide-box {

    }

    body.page-template-news #main-slider .main-slide-item .main-slide-box h2 a {
        font-size: 28px;
        line-height: 33px;
        font-weight: 700;
    }

    body.page-template-news #main-slider .main-slide-item img {
        height: 61.4vw;
        object-fit: cover;
    }

    body.page-template-news #main-slider .main-slide-item .main-slide-box h2 {
        font-size: 28px;
        line-height: 33px;
        margin: 0 0 16px 0;
    }

    body.page-template-news #main-slider .main-slide-item .main-slide-box p {
        margin: 0 0 18px;
    }

    body.page-template-news #main-slider .owl-nav i {
        color: #2c2c2c;
    }

    body.page-template-news #main-slider .owl-nav .owl-prev {
        left: -12px;
        top: 52px;
    }

    body.page-template-news #main-slider .owl-nav .owl-next {
        right: -12px;
        top: 52px;
    }

    body.page-template-news #main-slider .main-slide-item .main-slide-box .main-slide-content {
        min-height: auto;
    }

    .container {
        padding: 0 16px;
        max-width: 100%;
    }

    body.page-template-news #main-slider {
        position: relative;
        /* margin: 0 -16px; */
        /* width: calc(100% + 32px); */
    }

    body.page-template-news .news-search-filters {
        display: flex;
        flex-wrap: wrap;
        gap: 0;
        margin-bottom: 30px;
    }

    .news-search-col:nth-of-type(1) {
        width: 58%;
    }

    .news-search-col:nth-of-type(2) {
        width: 38%;
        margin-left: 4%;
    }

    .news-search-col:nth-of-type(3) {
        width: 100%;
        margin-top: 19px;
    }

    body.page-template-news .sticky-category-items .sticky-category-heading h3 {
        font-size: 28px;
        line-height: 33px;
        order: 2;
        margin-top: 45px;
    }

    body.page-template-news .sticky-category-items .sticky-category-heading {
        flex-wrap: wrap;
        margin-bottom: 12px;
    }

    .sticky-category-listing {
        grid-template-columns: repeat(1, 1fr);

    }

    .sticky-category-listing h3 {
        margin: 13px 0 16px;
        font-size: 20px;
        line-height: 24px;
    }

    body.page-template-news .sticky-category-items .sticky-category-readmore {
        order: 1;
    }

    body.page-template-news .sticky-category-items {
        margin-bottom: 5px;
    }

    .market-demand-report .sticky-category-description {
        display: none;
    }

    body.page-template-news .sticky-category-items.market-demand-report .post-grid-items {
        margin-top: 22px;
    }

    .market-demand-report .post-item-info p {
        display: none;
    }

    .market-demand-report .post-grid-items article.post-item .post-item-info h3 {
        margin: 32px 0 -8px;
    }

    .market-demand-report .post-grid-items article.post-item .post-item-info {
        padding: 0 16px 6px;
    }

    .post-grid-items article.post-item {
        margin-bottom: 20px;
    }

    body.page-template-news .sticky-category-items.news-product-updates .sticky-category-heading h3 {
        margin-top: 52px;
    }

    body.page-template-news .sticky-category-items.news-product-updates .post-grid-items {
        margin-top: 21px;
    }

    .news-product-updates .post-grid-items article.post-item .post-item-info p {
        margin-bottom: 5px;
    }

    /* body.page-template-news .site-main .container {
        padding-bottom: 33px;
    } */

    footer .footer-menus .container {
        flex-wrap: wrap;
        padding-left: 0;
    }

    footer .footer-menus aside:nth-of-type(1) {
        width: 100%;
        text-align: center;
    }

    footer .footer-menus .container aside ul li span {
        display: inline;
    }

    footer .footer-menus aside:nth-of-type(2) {
        width: 100%;
    }

    footer .footer-menus .container aside ul li.footer-icon {
        justify-content: center;
    }

    footer .footer-menus .container aside ul:nth-child(2) {
        padding: 0;
    }

    footer .footer-menus {
        min-height: unset;
        font-size: 14px;
        padding: 49px 16px 24px;
    }

    footer .footer-menus .container aside h4 {
        margin: 0 0 11px;
    }

    footer .footer-menus .container aside ul:nth-child(2) {
        margin-top: 7px;
        width: 100%;
    }

    footer .footer-menus .container aside ul:nth-child(2) li {
        margin-bottom: 7px;
    }

    footer .footer-menus .container aside:nth-of-type(2) {
        margin-top: 8px;
    }

    footer .footer-menus .container aside:nth-of-type(2) h4 {
        margin-bottom: 7px;
    }

    footer .footer-menus .container aside:nth-of-type(2) li {
        margin-bottom: 7px;
    }

    footer .footer-menus .container aside .col {
        display: block;
    }

    footer .site-info .container {
        flex-wrap: wrap;
    }

    footer .site-info ul {
        margin: 0;
    }

    footer .site-info .menu-footer-menu-container {
        width: 100%;
    }

    footer .site-info ul li {
        display: block;
        margin-right: 0;
        text-align: center;
        margin-bottom: 10px;
    }

    footer .site-info .container {
        height: unset;
    }

    footer .site-info {
        padding: 30px 0 22px;
    }

    .widget {
        margin: 0 0 25px;
    }

    body footer .footer-menus .container aside ul li {
        margin-bottom: 12px;
    }

    footer .site-info .site-footer-copyright {
        margin-top: 0px;
        width: 85%;
        text-align: center;
        line-height: 18px;
    }

    footer .footer-menus .container aside .widget_nav_menu {
        padding: 0;
        width: 100%;
        text-align: center;
    }

    /* single post */
    h1.entry-title {
        font-size: 30px;
        line-height: 33px;
        margin: 10px 0 8px;
    }

    .single-post .breadcrumbs {
        display: none;
    }

    .post-thumbnail img,
    .entry-content img {
        width: 100%;
    }

    .entry-content h2 {
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 17px;
    }

    .entry-content p {
        font-size: 14px;
        line-height: 26px;
    }

    .entry-content figure {
        margin-top: 27px;
        margin-bottom: 20px;
    }

    .post-navigation-wrapper {
        margin: -35px 0 36px 0;
    }

    .post-navigation-wrapper .post-navigation-box {
        flex-wrap: wrap;
    }

    .post-navigation-wrapper .post-navigation-box .post-navigation-info {
        width: 100%;
        max-width: 100%;
        padding: 16px 23px 24px;
        flex-basis: 100%;
        order: 2;
    }

    .post-navigation-wrapper .post-navigation-box .post-navigation-link .post-prev-link {
        background: rgba(255, 255, 255, 0.6);
        width: 50px;
        height: 200px;
        top: 0;
        font-size: 38px;
    }

    blockquote {
        margin: 0;
        padding: 15px 0 15px 15px;
    }

    .single-recommended .post-grid-items {
        display: block;
        column-gap: 0;
    }

    .single-recommended .post-item:nth-of-type(2),
    .single-recommended .post-item:nth-of-type(3) {
        display: none;
    }

    .single-recommended-heading h3 {
        font-size: 30px;
    }

    .single-recommended {
        padding: 42px 0 20px;
    }

    .single-recommended .single-recommended-heading {
        margin-bottom: 26px;
    }

    .single-recommended .single-recommended-heading h3 {
        font-size: 30px;
    }

    .single-extra-meta {
        margin-top: 10px;
        padding-left: 8px;
        margin-bottom: 27px;
    }

    #comments .comment-reply-title {
        font-size: 30px;
    }

    #comments textarea,
    #comments input {
        width: 100%;
    }

    #comments .comment-form-cookies-consent input {
        width: unset;
    }

    #comments .comment-form-comment-avatar {
        flex-basis: 59px;
        max-width: 59px;
    }

    #comments .comment-form-comment-textarea textarea {
        padding: 7px 11px;
        height: 59px;
        width: 100% !important;
    }

    #comments .comment-form-comment-textarea {
        flex-basis: calc(100% - 59px);
        max-width: calc(100% - 59px);
        padding-left: 15px;
    }

    #comments .comment-form-comment {
        margin-top: 28px;
    }

    #comments .form-submit .submit {
        width: unset;
    }

    #comments .form-submit {
        margin: 3px 0 0;
    }

    .single-post-content {
        margin-bottom: 24px;
    }

    .single-recommended .single-recommended-heading a {
        font-weight: 700;
    }

    .single-sharing-meta {
        padding-left: 8px;
    }

    .post-navigation-wrapper .post-navigation-box .post-navigation-thumbnail {
        flex-basis: unset;
        max-width: unset;
        width: 100%;
    }

    .post-navigation-wrapper .post-navigation-box .post-navigation-thumbnail .post-next-link {
        width: 50px;
        height: 200px;
        font-size: 38px;
    }

    body.single article.post {
        display: flex;
        flex-wrap: wrap;
    }

    body.single article.post .post-thumbnail {
        order: 1;
        margin: 0 -25px;
        width: calc(100% + 50px);
        height: 210px;
    }

    body.single article.post .post-thumbnail img {
        height: 100%;
    }

    body.single article.post .entry-header {
        order: 2;
        margin-top: 23px;
    }

    body.single article.post .entry-content {
        order: 3;
    }

    body.single article.post .entry-footer {
        order: 4;
    }

    #masthead {
        background: #F6F8F9;
    }

    .site-header .container {
        padding: 0;
    }

    .single-post-content .container {
        padding: 0 25px;
    }

    .single-post-content .entry-meta span {
        font-size: 14px;
    }

    .entry-content .single-description {
        display: block;
    }

    .header-content .single-description {
        display: none;
    }

    .summary-edition {
        margin-top: 14px;
    }

    body.page-template-news #main-slider .main-slide-item img.thumb-mb {
        display: block;
    }

    body.page-template-news #main-slider .main-slide-item img.thumb-pc {
        display: none;
    }

    body.page-template-news #main-slider .owl-nav {
        top: 61.4vw;
    }

    body.page-template-news #main-slider .owl-nav i {
        font-size: 38px;
    }

    body.page-template-news .sticky-category-items .sticky-category-heading .sticky-category-readmore {
        display: none;
    }

    body.page-template-news .sticky-category-items .sticky-category-readmore.only-mb {
        display: block;margin-bottom:30px;
    }

    body.page-template-news #main-slider .main-slide-item .main-slide-box .bhwpc-primary-category-link {
        font-size: 16px;
        margin-bottom: -2px;
        font-weight: 700;
    }

    body.page-template-news .sticky-category-items .sticky-category-readmore.only-mb:after {
        margin-left: 15px;
        font-family: 'icomoon';
        content: "\f14";
        font-size: 12px;
    }

    #custom_html-2 {
        margin-bottom: 16px;
        width: 100%;
    }

    footer .footer-menus .container aside #nav_menu-3 ul li {
        margin-bottom: 7px;
    }

    #nav_menu-3 {
        margin-bottom: 9px;
        width: 100%;
    }

    .guidelines .content {
        padding-right: 30px;
    }

    .guidelines .container {
        max-height: 90vh;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .entry-footer .tags-links-wrapper .tags-links a {
        margin-bottom: 10px;
    }

    #primary .red-hero {
        height: 355px;
    }

    #primary .red-hero {
        padding-top: 70px;
        align-items: flex-start;
    }

    body section.red-hero .container {
        padding: 0 20px;
    }

    #primary .red-hero {
        background-size: 300px;
    }

    .text_banner p *,
    .text_banner h2 *,
    .text_banner h3 *,
    .text_banner h4 *,
    .text_banner h5 * {
        font-size: 21px;
        line-height: normal;
    }

    #page .text_banner .container_custom_banner {
        padding-left: 30px;
    }

    .text_banner p,
    .text_banner h2,
    .text_banner h3,
    .text_banner h4,
    .text_banner h5 {
        font-size: 22px;
    }

    #comp-kw9bvjmw1 {
        top: 0;
        right: 0;
        margin-right: auto;
        margin-left: auto;
    }

    #comp-kw9bvjmv .container.text {
        position: absolute;
        top: 30px;
    }

    body #comp-kw9bvjmv .container.po {
        position: absolute;
        top: 160px;
    }

    .container.po #comp-kw9bvjn13 {
        right: 0;
        margin-right: auto;
        margin-left: auto;
        left: 0;
    }

    .container.text div#comp-kw9dndmm {
        top: 20px;
        right: 0;
        width: 280px;
        margin: 0 auto;
    }

    .container.po div#comp-kw9dndmp2 {
        top: 170px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
    }

    div#comp-kw9dndmo3 {
        top: 570px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .container.text.upgrade {
        top: 30px;
        justify-content: center;
    }

    .container.po.upgrade {
        position: unset;
    }

    .container.logo.upgrade {
        position: relative;
        top: 140px;
        justify-content: center;
    }

    .container.po.upgrade {
        position: relative;
        top: 150px;
        justify-content: center;
    }

    section#comp-kw9d7r301 {
        height: 887px;
    }

    /* 227586 */

    body #page .text_banner .container_custom_banner {
        padding-top: 30px;
    }

    .bdaytreat .agent-offerings-hero {
        background-position: center !important;
    }

    .elitebday .text_banner p *,
    .elitebday .text_banner h2 *,
    .elitebday .text_banner h3 *,
    .elitebday .text_banner h4 *,
    .elitebday .text_banner h5 * {
        font-size: 35px;
        line-height: normal;
    }

    .elitebday .agent-offerings-hero {
        height: 350px;
    }

    #primary.fastkey .red-hero {
        padding-top: 30px;
    }

    #page .fastkey .text_banner .container_custom_banner {
        padding-left: 0px;
        padding-top: 0;
    }

    .fastkey .text_banner p *,
    .fastkey .text_banner h3 *,
    .fastkey .text_banner h2 *,
    .fastkey .text_banner h4 *,
    .fastkey .text_banner h5 * {
        font-size: unset;
        line-height: normal;
    }

    /*  */
    body .desktop_none {
        display: none;
    }

    body .mobile_none {
        display: block;
    }

    /* new */
    .homeloan section.landing-sec .text_sec h1 {
        font-family: 'Crossten';
        font-size: 28px;
    }

    .homeloan section.landing-sec .text_sec {
        padding-left: 10px;
        padding-right: 10px;
    }

    .homeloan section.landing-sec .points_list .single_point:nth-child(2) {
        margin-left: -5px;
    }

    .homeloan section.landing-sec .points_list .single_point:nth-child(3) {
        margin-left: -11px;
    }

    .homeloan section.landing-sec .points_list .single_point:nth-child(4) {
        margin-left: -15px;
    }

    .page-template-template-renewal #page .text_banner .container_custom_banner,
    .page-template-template-upsell #page .text_banner .container_custom_banner,
    .page-template-weekly-feature #page .text_banner .container_custom_banner,
    .page-template-market-insights #page .text_banner .container_custom_banner {
        padding-left: 0px;
    }

    .page-template-template-renewal .container.po div#comp-kw9dndmp2 {
        top: 250px;
    }

    .page-template-template-renewal div#comp-kw9dndmo3 {
        top: 673px;
    }

    .page-template-template-renewal #comp-kw9dndmi2 {
        height: 889px;
    }

    .page-template-template-upgrade .container.logo.upgrade {
        top: 240px;
    }

    .page-template-template-upgrade .container.po.upgrade {
        top: 250px;
    }

    .page-template-template-upgrade section#comp-kw9d7r301 {
        height: 987px;
    }

    body.page-template-template-upsell #comp-kw9bvjmv .container.po {
        top: 260px;
    }

    .page-template-weekly-feature .weeklyfeature .agent-offerings-hero {
        height: 450px;
    }

    .page-template-market-insights .market-insights section.hero-banner {
        height: 350px;
    }

    .page-template-market-insights .market-insights section.hero-banner .container {
        align-items: flex-start;
    }

    .page-template-contact-us #page .text_banner .container_custom_banner {
        margin: 0 20px;
        padding: 0;
        width: 100%;
    }

    .page-template-contact-us .banner#contactusbanner {
        height: 350px;
        background-position: 75% 9%;
    }

    .page-template-meet-our-trainer #page .text_banner .container_custom_banner {
        padding-left: 10px;
        padding-right: 10px;
    }

    .page-template-meet-our-trainer .meet-our-trainers-hero {
        height: 400px;
    }

    body.page-template-market-insights img.banner_img_current {
        width: 33%;
        position: absolute;
        right: 0;
        bottom: 40px;
        left: 0;
        margin-left: auto;
        margin-right: auto;
    }

    body .market-insights .container_custom_banner {
        width: 100%;
        top: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    body.page-template-market-insights .container_custom_banner.mobile_none p {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
/* 	body .pg-hero-sec .container{padding-left:30px;padding-right:30px;} */
	.home .partner360_img img{width:100%;height:auto;object-fit:unset;}

	.pg-hero-sec .row{height:545px;}
.pg-h1,.pg-hero-sec h1,.pg-hero-sec h1 span,.pg-h1 > a{
    font-size: 30px;
    line-height: 38px;
}
.pg-hero-sec h1 strong,.pg-hero-sec h1 b,.pg-hero-sec h1 strong span,.pg-hero-sec h1 b span{
    font-size: 30px;
    line-height:38px;
}
.pg-h2,.pg-hero-sec h2,.pg-hero-sec h2 span,.pg-hero-sec h2 a,.pg-hero-sec h2 strong,.pg-hero-sec h2 strong span,.pg-hero-sec h2 b span{
	font-size: 24px !important;
    line-height: 38px;
}

.pg-h3,.accordion h2.accordion-header .accordion-button,a.pg-h3,h3.pg-h3 a,h3.pg-h3 strong{
    font-size: 18px;
    line-height: 26px;
}
.pg-paragraph,.pg-paragraph span,ol.breadcrumbs li,.home a.sticky-category-readmore,.ad-credits .sticky-category-readmore,.pg-paragraph a, ul li a{
    font-size: 14px;
    line-height: 22px;
}
.pg-intro{padding-top:40px;padding-bottom:80px;}
.pg-section{padding-top:80px;padding-bottom:80px;}



    .page-template-template-renewal .container.po div#comp-kw9dndmp2 {
        top: 350px;
    }

    .page-template-template-renewal div#comp-kw9dndmo3 {
        top: 800px;
    }

    .page-template-template-renewal #comp-kw9dndmi2 {
        height: 1016px;
    }

    .contact-us .content_sec {
        width: calc(100% - 40px);
        margin-left: 20px;
    }

    .page_nav_ ul>li,
    .page_nav ul>li {
        margin: 10px;
    }

    /*  */



    body .treats_list h4,
    body .designed_to h4.sub_title,
    body div#comp-l1k23yz2 h2 span,
    body div#comp-kw9d7raj span,
    body div#comp-kw9d7ran5 span,
    body div#comp-kw9d7r9h2 span,
    body div#comp-kw9bvjog3 span,
  {
        font-size: 20px;
    }

    body div#comp-kw9bvjob span{
        font-size: 14px;
        line-height: 27px;
        font-family: "Nunito", sans-serif !important;
        font-weight: 700;
    }

    body section.takeapeek .top_text .desc,
    body .contact-us .content_sec .desc,
    body .market-insights .first-sec .top_text p,
    body .points .single_point .text_sec p,
    body .data_functions ul>li,
    body .market-insights .oacarousel .single .inner p,
    body section.harness-data .top_text p:not(.desc),
    body section.harness-data .oacarousel .single .inner p,
    body .help_sec *,
    body .help_sec p,
    body .partner-text p,
    body .homeloan section.landing-sec .text_sec .desc,
    body p.desc,
    body .homeloan .oacarousel .single .text_sec p,
    body section.short-cta .container h3,
    body section.faq-accord .left_sec p,
    body div#comp-kw9d7r9i3 span,
    body div#comp-kw9d7ra81 span,
    body div#comp-kw9bvjoh3 span,
    body .weeklyfeature p,
    body div#comp-kw9d7rac span,
    body .rewardspage p,
    body body .elitebday p,
    body section.best-homeloan .desc {
        font-size: 14px;
    }

    body .single_reward>h4,
    body .prest_rewards h4 {
        font-size: 20px;
    }

    body section.fastkey-section-1.container>div:nth-child(2),
    body .meet_trainer-sec p,
    body h3.font_3 span,
    body #comp-kw9dndt82 p.font_8 span,
    body div#comp-l1k2cbrv span,
    body div#comp-l1k2az5b span,
    body div#comp-l1k2df0y span,
    body div#comp-l1k234m7 span,
    body div#comp-kw9dndu34 span,
    body div#comp-kw9dndu52 span,
    body div#comp-kw9dndu83 span,
    body div#comp-kw9dndub span,
    body div#comp-kw9dndub4 span,
    body div#comp-kw9dndud3 span,
    body div#comp-kw9dndug span,
    body div#comp-kw9dnduj1 span,
    body div#comp-kw9dndus2 span,
    body div#comp-kw9dnduv span,
    body div#comp-kw9dndum1 span,
    body div#comp-kw9bvjoc p,
    body div#comp-kw9bvjtm4 span,
    body div#comp-kw9bvjto2 span,
    body div#comp-kw9bvjtr2 span,
    body div#comp-kw9bvjtu span,
    body div#comp-kw9bvjtu4 span,
    body div#comp-kw9bvjtw3 span,
    body div#comp-kw9bvjtz span,
    body div#comp-kw9bvju2 span,
    body div#comp-kw9bvju44 span,
    body div#comp-kw9d7r4i2 h3 span,
    body div#comp-kw9bvjua3 span,
    body #comp-kw9dndt91 p.font_8 span {
        font-size: 14px !important;
    }

    body p.partner-text,
    body div#comp-kw9dndur5 span,
    body div#comp-kw9bvju95 span,
    body div#comp-kw9dndvc1 span,
    body h2.font_2 span {
        font-size: 20px !important;
    }

    body .page_nav_ ul>li>a,
    body .page_nav ul>li>a,
    body .rewardspage p {
        font-size: 12px;
    }
}
@media screen and (max-width: 575px){
	.pg-section{padding-top:60px;padding-bottom:60px;}
	.pg-intro{padding-top:20px;padding-bottom:60px;}
  .post-grid-top img{max-width:100%;margin:20px 0 0;height:auto;}
  .post-grid-items article.post-item img{max-width:100%;width:100%;height:auto;}
  body.page-template-news #main-slider .main-slide-item .main-slide-box{align-items:flex-start;}
  body.page-template-news #main-slider .main-slide-item .main-slide-box .main-slide-content{padding:30px 45px 0;}
  body.page-template-news #main-slider .owl-nav .owl-next{right:-20px;top:0;}
  body.page-template-news #main-slider .owl-nav .owl-prev{left:-20px;top:0;}
  .market-insights .container .container{padding:0!important;}
  .center-on-mobile{text-align:center;}
}
@media screen and (max-width: 414px) {
    .pg-cta h2 {
        font-size: 18px !important;
        line-height:26px;
    }
}
@media screen and (max-width: 400px){
.site-main .subheader {
    font-size: 28px;
	}
body .home-firstsec .right_sec .section-content {
    font-size:14px;
	}
	.agentofferings a.red-button {
    font-size:14px;
	}
}
@media screen and (min-width: 768px){
	.home .container .row{margin:0;}

}
